body {
  background-color: #fffafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Roboto;
}

button {
  padding: 4px 8px;
  width: fit-content;
  margin: auto;
}

form {
  display: grid;
  gap: 12px;
}

#response-container {
  width: 35rem;
  height: 15rem;
  border-radius: 4px;
}

#response-container p {
  text-align: justify;
}

#container {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 20px;
  width: 40rem;
}

#file-area {
  background-color: #ffffff;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  border: 2px dashed #333;
  border-radius: 16px;
  height: 10rem;
  display: flex;
}

input[type="file"] {
  display: none;
}

#file-area label {
  margin: auto;
  height: 100%;
  width: 100%;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
  place-items: center;
}

.hidden {
  display: none;
}

#error {
  color: red;
}

@media (max-width: 768px) {
  #container,
  #resposta-automatica {
    width: 80%;
  }
  textarea,
  #file-area {
    width: 100%;
  }
}
