
__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/

.idea/
.vscode/


build/
dist/
*.egg-info/
.eggs/


.cache/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/


*.log
*.tmp
*.bak
*.swp


.DS_Store
Thumbs.db
desktop.ini


.ipynb_checkpoints/

.env
.env.*

*.pid

.huggingface/
.transformers/
torch_cache/

**/site-packages/

